* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.section-heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid #333;
    text-shadow: .2rem .2rem .5rem #555;
}

.section-1 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), url(images/abstract-beige-paint-texture-design-space_53876-105861.avif) center no-repeat;
    background-size: cover;
    flex-direction: column;

}

.section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: whitesmoke;
    background-color: #1dad89;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 2rem solid #fff;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-5deg);
}

.person-img {
    width: 25rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1rem ridge #1dad89;
    opacity: 0.9;
}

.person-name {
    font-size: 3rem;
    font-weight: bolder;
    color: #1dad89;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-5deg);
}

.section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #1dad89;
    box-shadow: .2rem .2rem .5rem #555;
}


.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.change.navbar-link {
    color: white;
}

.navbar-link:hover {
    color: white;
}

.change.navbar-link::before {
    width: 130%;
}

.navbar-link::before {
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    right: -15%;
    bottom: -.3rem;
    transition: width .2s;
}

.navbar-link:hover::before {
    width: 130%;
}

.section-2 {
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.progress-bars-wrapper {
    margin: 0 5rem 10rem 2rem;
}

.progress-bars-wrapper span {
    font-size: 1.7rem;
    font-weight: 400;
    padding-left: 0.5rem;
    text-shadow: .2rem .2rem .5rem #555;
}

.section-box {
    display: flex;
    flex-direction: row;
}

.progress-bar {
    width: 30rem;
    height: 3rem;
    background-color: #41a09b;
    margin: 1.5rem 0;
    border-radius: .3rem;
    box-shadow: .2rem .2rem .5rem #555;
    text-align: center;
}

.progress-text {
    left: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0.2rem 0.2rem 0.5rem #333;
}

.services {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service:first-child,
.service:last-child {
    align-self: flex-start;
}


.service i {
    font-size: 10rem;
    color: #888;
    margin-bottom: 2rem;
    text-shadow: .1rem .1rem .5rem #555;
}

.service h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #777;
    width: 25rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.section-3 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projects-wrapper {
    width: 80%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: .3rem .3rem .5rem #777;
}

.project:hover {
    cursor: pointer;
}

.project-text {
    text-align: center;
    letter-spacing: .1rem;
}

.project-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    padding: 1rem;
    text-transform: capitalize;
}

.project-technologies {
    font-size: 1.8rem;
    color: #e41c6f;
}

.project-img {
    width: 25rem;
}

.project-link {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: .1rem;
    border: 0.2rem solid #dddadb;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #fff;
    box-shadow: .2rem .2rem .3rem #888;
}

.project:hover {
    opacity: 0.75;
    border-right: .2rem solid #333;
    border-bottom: .3rem solid #333;
}

.project-link:hover {
    background-color: #1dad89;
    box-shadow: .4rem .4rem .8rem #333;
    color: #fff;
    border: 0.2rem solid #333;
}

.section-4 {
    width: 100%;
    height: 70vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-4-heading {
    color: #fff;
    box-shadow: none;
    border-color: #fff;
    margin-bottom: 2rem;
}

.contact-form {
    width: 50rem;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    border: .2rem solid #1dad89;
    color: #555;
}

.contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}

.contact-form .contact-form-btn {
    background-color: #1dad89;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}

.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
    color: #ece2e2
}

.social-media {
    margin-bottom: 5rem;
}

.social-media-link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #1dad89;
    border-radius: 0.5rem;
    display: inline-block;
}

.social-media-link i {
    font-size: 3rem;
    color: #dddadb;
}

.copyright {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-align: center;
    font-weight: 200;
}

@media(max-width:1200px) {
    .services {
        height: auto;
        flex-wrap: wrap;
    }

    .service {
        margin: 3rem 2rem;
    }

    .section-box {
        flex-direction: column;
    }

    .section-4 {
        height: 80vh;
    }
}

@media(max-width:800px) {
    .section-1-heading {
        font-size: 4rem;
    }
}

@media(max-width:600px) {
    .section-1-heading {
        font-size: 3rem;
    }

    .navbar-link {
        margin: 0 2rem;
        font-size: 1.5rem;
    }

    .section-2 {
        padding: 10rem;
    }

    .section-2-heading {
        margin-bottom: 10rem;
    }

    .progress-bar {
        width: 45rem;
    }

    .contact-form {
        width: 40rem;
    }

    .copyright {
        width: 70%;
    }
}

@media(max-width:500px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:450px) {
    html {
        font-size: 45%;
    }

    .section-1-heading {
        font-size: 2.5rem;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section-2-heading {
        text-align: center;
    }

    .progress-bar {
        width: 40rem;
    }
}